header {
  background-color: #0f8d24;
  color: white;
  padding: 20px 0;
  text-align: center;
  border-bottom:2px solid #dfe5e8;

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }


}