/*celular*/
@media screen and (max-width: 600px) {
  main{
    background-color: #0f8d24;
  }
}
/* tablet*/
@media screen and (min-width:600px) {
  main{
    background-color: #0f8d24;
  }  
}
/*desktop*/
@media screen and (min-width: 768px) {
  main{
    background-color: #0f8d24;
  }