

h2 {
  margin-bottom: 10px;
  color: #0f8d24;
}

.form-section,
.itens-section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  form input[type="file"] {
  margin-top: 5px;
}

}



.itens-lista {
  list-style: none;
}

.itens-lista li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
  font-size: 0.9em;
}

/* css tela inicial */









