* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f8d24;

}

body {
  font-family: Arial, sans-serif;
  background-color: #0f8d24;
  color: white;
  h3{
    background-color: #024f0f;
  }
}

header {
  background-color: #0f8d24;
  padding: 10px 30px;
  border-bottom: 1px solid #ccc;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;

}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav button {
  padding: 5px 15px;
  background-color: #0f8d24;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.formulario-container {
  background-color: #024f0f;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
}

.item-encontrado {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #024f0f;
  h2{
    background-color: #024f0f;
  }

  p{
    background-color: #024f0f;
  }

  strong{
    background-color: #024f0f;
  }
  div{
    background-color: #024f0f;
  }

}

.item-encontrado img {
  width: 80px;
  height: auto;
  border-radius: 5px;
  
}

.descricao {
  font-size: 14px;
  margin-bottom: 20px;
  color: white;
  background-color: #024f0f;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #024f0f;
}

form label {
  font-weight: bold;
  background-color: #024f0f;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: black;
}

.duplo {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  background-color: #024f0f;
  
}

.duplo div {
  flex: 1;
  min-width: 180px;
  background-color: #024f0f;

}

form button {
  background-color: #0dbd51;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0a9441;
}

img {
    border-radius: 8%;
    max-width: 40%;
}
