@import url(Responsivo.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(166, 235, 166);
  color: white;
  h3{
    background-color: #024f0f;
  }
  h2{
    background-color: #024f0f;
  }
  p{
    background-color: #024f0f;
  }

  strong{
    background-color: #024f0f;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: white;
}

header {
background-color: rgb(166, 235, 166);
  padding: 10px 30px;
  border-bottom: 1px solid #ccc;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;
}


main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: rgb(166, 235, 166);
}

.formulario-container {
  background-color: #024f0f;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

.item-encontrado {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #024f0f;
    div {
    background-color: #024f0f;
  }
}

.item-encontrado img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #024f0f;
}

form label {
  font-weight: bold;
  background-color: #024f0f;
}

form input {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: white;
}

 form button{
  margin-left: auto;
  background-color: #0f8d24;
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  border: 2px solid white;
  
}

form button:hover {
  background-color: #79cc89;
}

img {
    
    border-radius: 8%;
    max-width:40%;
  
}