@import url(css-reset.css);
@import url(Responsivo.css);
@import url(titulo.css);
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}

header {
  background-color: rgb(166, 235, 166);
  color: white;
  text-align: center;
  border-bottom:2px solid #dfe5e8;
  display:flex;
  justify-content:space-between;
  align-items:center;


}


nav {
ul {
display: flex;
padding-top: 180px;
padding-right: 154px;

}
}

body {
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 4px;

}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

/* Botão login no canto superior direito */
    #login-btn {
      position: absolute;
      top: 24px;
      right: 154px;
      padding: 7px 10px;
      font-size: 0.95rem;
      border: 2px solid white;
      font-weight: 500;
      text-decoration: none;
      
    }
    #login-btn:hover {
      background: linear-gradient(90deg, #0f8d24 70%, white 100%);
      transform: translateY(-2px) scale(1.04);
    }
 

div{
  background-color: rgb(166, 235, 166);;
  text-align: center;
    h3{
      margin-bottom: 10px;
      color: white;
  }
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: rgb(166, 235, 166);
}

.item {
  width: 250px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  img{
    max-width: 100%;
  }
}

.perdido {
  background-color: red;
}

.achado {
  background-color: #024f0f;
}

img {
    border-radius: 8%;
    max-width: 40%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right,#024f0f, white);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 70px;
    letter-spacing: 2px;
}

    
  

.tagline {
    font-size: 18px;
    color: #FFFFFF; /* Cor da frase */
    font-style: italic;
    margin-top: 10px; /* Distância entre o título e a frase */
}