* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(166, 235, 166);

}

body {
  font-family: Arial, sans-serif;
  background-color: #0f8d24;
  color: white;
  h3{
    background-color: #024f0f;
  }
}

header {
  background-color: rgb(166, 235, 166);
  color: white;
  text-align: center;
  border-bottom:2px solid #dfe5e8;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;

}


nav {
ul {
display: flex;
padding-top: 200px;
list-style: none;
}
}
body {
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 4px;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:rgb(166, 235, 166)
}

nav h1 {
  font-size: 24px;
  background:rgb(166, 235, 166)

}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}

main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background:rgb(166, 235, 166);
}

.formulario-container {
  background-color: #024f0f;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

.item-encontrado {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #024f0f;
  h2{
    background-color: #024f0f;
  }

  p{
    background-color: #024f0f;
  }

  strong{
    background-color: #024f0f;
  }
  div{
    background-color: #024f0f;
  }

}

.item-encontrado img {
  width: 80px;
  height: auto;
  border-radius: 5px;
  
}

.descricao {
  font-size: 14px;
  margin-bottom: 20px;
  color: white;
  background-color: #024f0f;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #024f0f;
}

form label {
  font-weight: bold;
  background-color: #024f0f;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: black;
}
.duplo input {
  width: 100%;
}

.duplo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  background-color: #024f0f;
}

.duplo div {
  flex: 1;
  min-width: 220px;
  background-color: #024f0f;
}


form button {
  gap: 10px;
  justify-content: flex-end;
}

 form button{
  margin-left: auto;
  background-color: #0f8d24;
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  border: 2px solid white;
  
}

form button:hover {
  background-color: #79cc89;
}

img {
    border-radius: 8%;
    max-width: 40%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right,#024f0f, white);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 70px;
    letter-spacing: 2px;
}

    
  

.tagline {
    font-size: 18px;
    color: #FFFFFF; /* Cor da frase */
    font-style: italic;
    margin-top: 10px; /* Distância entre o título e a frase */
}