@import url(css-reset.css);
@import url(Responsivo.css);
@import url(titulo.css);

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== HEADER ===== */
header {
  background-color: rgb(166, 235, 166);
  color: white;
  text-align: center;
  border-bottom: 2px solid #dfe5e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

header h1 {
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background: linear-gradient(to right,#024f0f, white);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0;
}

/* MENU */
nav ul {
  display: flex;
  gap: 20px;
  margin-right: 120px;
  padding-top: 80px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  border: none;
}

/* BOTÃO LOGIN */
#login-btn {
  position: absolute;
  top: 15px;
  right: 40px;
  padding: 7px 12px;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 6px;
}

#login-btn:hover {
  background-color: #79cc89;
}

/* TAGLINE */
.tagline {
  font-size: 16px;
  color: #ffffff;
  font-style: italic;
  margin-top: 5px;
}

/* ===== CATÁLOGO ===== */
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 25px;
  background-color: rgb(166, 235, 166);
}

/* ===== CARD DO ITEM ===== */
.item {
  width: 260px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  transition: transform .2s;
}

.item:hover {
  transform: scale(1.03);
}

/* BORDAS POR STATUS */
.status-achado {
  border: 3px solid #0f7d29;
}

.status-perdido {
  border: 3px solid #c62828;
}

/* IMAGEM DO ITEM */
.item img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* TÍTULO DO ITEM */
.item h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  color: #024f0f;
  font-weight: bold;
}

/* DESCRIÇÃO */
.item p {
  color: #444;
  font-size: 14px;
}

/* LINKS DOS ITEMS */
.link-item {
  text-decoration: none;
  color: inherit;
}

